# 1- How to see pandas and python versions

In [2]:
import pandas as pd
pd.__version__

'2.2.2'

# 2- Make a dataframe using dict

In [5]:
df = pd.DataFrame({"a":[1 , 2 ,3], "b" :[4,5,6]})
df

   a  b
0  1  4
1  2  5
2  3  6

In [6]:
df.head()

   a  b
0  1  4
1  2  5
2  3  6

In [7]:
df.tail()

   a  b
0  1  4
1  2  5
2  3  6

In [4]:
#using numpy array to create dataframe
import numpy as np
arr = np.array([[1,2,3],[4,5,6]])
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  4  5  6

In [12]:
#numpy array dataframe
pd.DataFrame(np.random.rand(2,2))

          0         1
0  0.072598  0.439058
1  0.109214  0.377638

In [24]:
#columns name assign and row name
df1 = pd.DataFrame(np.random.rand(4,6),columns = list("ABCDEF"),index = ["aa","bb","cc","dd"])

# 3- How to rename column

In [25]:
df1

           A         B         C         D         E         F
aa  0.026295  0.934688  0.550317  0.520203  0.219354  0.436767
bb  0.153424  0.891169  0.305344  0.469939  0.554908  0.108508
cc  0.743319  0.269590  0.405183  0.468723  0.166960  0.747973
dd  0.055994  0.751790  0.334481  0.319423  0.315693  0.374547

In [27]:
df1.rename(columns = {'A' : 'a','B' : 'b', 'C' : 'c', 'D' : 'd', 'F' : 'f'}, inplace = True)

In [28]:
df1

           a         b         c         d         E         f
aa  0.026295  0.934688  0.550317  0.520203  0.219354  0.436767
bb  0.153424  0.891169  0.305344  0.469939  0.554908  0.108508
cc  0.743319  0.269590  0.405183  0.468723  0.166960  0.747973
dd  0.055994  0.751790  0.334481  0.319423  0.315693  0.374547

In [31]:
df.add_prefix("baba")

   babaa  babab
0      1      4
1      2      5
2      3      6